li {
    font-size: larger;
    border-style:solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

.deleteBtn {
    background-color: red;
    border-color: red;
    margin-left: 10px;
    font-size: small;
    padding-top: -10px;
}
